# Flask核心框架
Flask==2.3.0
Werkzeug==2.3.0

# 数据库相关
Flask-SQLAlchemy==3.0.5
PyMySQL==1.1.0
cryptography==41.0.0

# 用户认证
Flask-Login==0.6.2

# 跨域支持
Flask-CORS==4.0.0

# RESTful API
Flask-RESTful==0.3.1

# 其他工具
python-dotenv==1.0.0
